<!-- Launch file to publish raw data & pose + convert quaternions to euler angles  -->
<launch>

    <!-- initialisation of the IMU has to be performed BEFORE launching this file -->
    <!-- but does not work on the flow - to be fixed -->
    <!-- with include file="$(find euler_imu)/launch/imu_gx3-35_init.launch" /-->
  	
    <!-- launch microstrain_3dm_gx3_35 driver to publish raw data & pose -->
    <include file="$(find microstrain_3dm_gx3_35)/launch/imu.launch" />

    <!-- starts python script to convert quaternions to euler angles  -->
	<node pkg="euler_imu" name="euler2imu" type="quaternion2euler.py">
	</node>

</launch>
